main.feirao{
	background: #e06032;
	section.banner{
		.container{
			.row{
				.owl-carousel.owl-theme{
					width: calc(100% + 100px);
					margin: 0 -50px;
					.owl-item{
						padding: 0 50px;
						.item{
							position: relative;
							padding: 6% 0 50px 0;
							.full{
								width: 100%;
								box-shadow: 20px 20px 50px #b9512c;
							}
							.destaque{
								width: 40%;
								position: absolute;
								bottom: 20px;
								right: 12.3%;
							}
						}					
					}
					.owl-dots{
						position: absolute;
						bottom: 70px;
						margin: 0;
						width: 100%;
						.owl-dot{
							outline: none !important;
							span{
								background: $padrao;
							}
							&.active span, &:hover span{
								background: $detalhe;
							}
						}
					}
				}
			}
		}
	}
	section.conteudo{
		padding: 50px 0;
		.container{
			position: relative;
			.fundo{
				content: '';
				position: absolute;
				top: 5%;
				left: 10%;
				right: 10%;
				bottom: 5%;
				background: url('../img/feirao/bg-content.jpg');
				background-size: cover;
				background-position: right top;
				box-shadow: 30px 30px 50px #b9512c;
			}
			.row{
				.texto{
					color: #000;
					.titulo{
						font-size: 40px;
						font-family: $sans-serif2;
						margin: 0 0 30px;
						line-height: 1;
						span{
							color: #fff;
						}
					}
					.descricao{
						font-weight: 600;
						margin-bottom: 30px;
						strong{
							font-weight: 700;
							color: #fff;
						}
					}
				}
				&.estrutura{
					.texto{
						padding: 150px 0px 0px 50px;						
					}
				}
				&.area{
					text-align: right;
					.texto{
						padding: 125px 0px 0 0;
						.titulo{
							font-size: 34px;
						}						
					}
				}
				&.motivos{
					.texto{
						padding: 100px 0 0 0px;
						.titulo{
							font-size: 36px;
						}
					}
					.localizacao{
						text-align: right;
						margin-top: 50px;
						.texto-localizacao{
							display: inline-block;
							vertical-align: text-top;
							padding: 0 15px 0;
							.titulo{
								font-size: 36px;
								font-family: $sans-serif2;
								margin: 0 0 10px;
								line-height: 1;
								color: #fff;
							}
							.descricao{
								font-weight: 600;
								color: #000;
							}
							.emfrente{
								color: #fff;
								font-size: 20px;
								span{
									font-family: $sans-serif2;
									font-size: 30px;
									color: #000;
								}
							}
						}
						.pin{
							width: 150px;
						}
						.mapa{
							width: 250px;
						    margin: 0 0 -130px 30px;
						}
					}
				}
				&.conheca{
					text-align: center;
					margin-top: 100px;
					.box{
						display: inline-block;
						background: #ef9f00;
						padding: 50px 75px;
						color: #000;
						.titulo{
							font-size: 40px;
							font-family: $sans-serif2;
							margin: 0 0 30px;
							line-height: 1;
							span{
								color: #fff;
							}
						}
					}
				}
				&.novidades{
					.texto{
						padding: 100px 0 0 230px;
					}
				}
			}
			&.galeria{
				margin-bottom: 50px;
				.titulo{
					font-size: 40px;
					font-family: $sans-serif2;
					margin: 0 0 30px;
					line-height: 1;
					text-align: center;
				}
				.item{
					position: relative;
					padding: 15px 10px;
					background: #ffb400;
					box-shadow: 10px 10px 18px #b9512c;
					.hover{
						@extend .hv-center-block;
						opacity: 0;
						transition: opacity 0.5s;
						.fa{
							color: #fff;
							font-size: 40px;
						}
					}
					&:hover{
						.hover{
							opacity: 1;
						}
					}
				}
				.owl-carousel .owl-item{
					padding: 0 20px 20px 0;
				}
				.owl-theme .owl-dots .owl-dot{
					outline: none !important;
					span{
						background: #fff;
					}
					&.active, &:hover{
						span{
							background: #ffb400;
						}
					}
				}
			}
			&.lojas{
				margin-bottom: 50px;
				.fundo{
					background: #ffb400;
				}
				.row{
					.texto{
						padding: 75px 0;
						text-align: center;
					}
				}
			}
		}
	}
}
.modal-lojas{
	.modal-content{
		background: #e06032;
		h3{
			text-align: center;
			color: #000;
			font-family: $sans-serif2;
			font-size: 40px;
			margin-bottom: 20px;
		}
		.lista{
			display: flex;
		    flex-wrap: wrap;
		    width: 100%;
			.loja{
				background: #ffb400;
				margin-bottom: 10px;
				padding: 10px 15px;
				color: #000;
				font-size: 16px;
				.titulo{
					font-family: $sans-serif2;
					border-bottom: 1px solid #000;
					padding-bottom: 5px;
					margin-bottom: 5px;
				}
				.categoria{
					font-size: 12px;
				}
				.telefone{
					font-size: 12px;
					a{
						color: #000;
						i{
							color: #01E675;
						}
						&:hover{
							color: #56846d;
						}
					}
				}
			}
		}
	}
}

/* XS */ 
@media (max-width: 767px){ 
	main.feirao section.conteudo{
		padding-top: 0;
	}
	main.feirao section.banner .container .row .owl-carousel.owl-theme .owl-item .item .full{
		height: 56vw;
	}
	main.feirao section.conteudo .container .fundo{
		background: #ffb400;
	}
	main.feirao section.conteudo .container .row.estrutura .texto {
	    padding: 50px 6% 0px 12%;
	}
	main.feirao section.conteudo .container .row .texto .titulo {
    	font-size: 23px;
    }
	main.feirao section.conteudo .container .row.area .texto {
	    padding: 50px 10% 30px 6%;
	}
    main.feirao section.conteudo .container .row.area .texto .titulo {
        font-size: 20px;
    }
    main.feirao section.conteudo .container .row.area {
        text-align: right;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    main.feirao section.conteudo .container .row.motivos .texto {
        padding: 50px 6% 0 12%;
    }
    main.feirao section.conteudo .container .row.motivos .texto .titulo {
        font-size: 20px;
    }
    main.feirao section.conteudo .container .row.localizacao .texto .titulo {
        font-size: 24px;
    }
    main.feirao section.conteudo .container .row.motivos .localizacao .texto-localizacao{
    	padding: 0;
    }
    main.feirao section.conteudo .container .row.motivos .localizacao {
        padding: 0 12% 0 0;
    }
    main.feirao section.conteudo .container .row.motivos .localizacao .mapa {
        width: 250px;
        margin: 30px 0 0px 7%;
    }
    main.feirao section.conteudo .container .row.conheca .box {
        padding: 35px 20px;
    }
    main.feirao section.conteudo .container .row.conheca .box .titulo {
        font-size: 25px;
    }
    main.feirao section.conteudo .container .row.novidades .texto .titulo {
        font-size: 23px;
    }
    main.feirao section.conteudo .container .row.novidades .texto {
        padding: 100px 0 0 30px;
    }
}
@media (max-width: 539px){   
}
@media (max-width: 419px){    
}

/* SM */
@media (min-width: 768px) and (max-width: 991px) {
	main.feirao section.banner .container .row .owl-carousel.owl-theme .owl-item .item .full {
	    height: 405px;
	}
	main.feirao section.conteudo .container .row .texto{
    	font-size: 12px;
    }
	main.feirao section.conteudo .container .row .texto .titulo {
    	font-size: 30px;
    }
    main.feirao section.conteudo .container .row.area .texto .titulo, 
    main.feirao section.conteudo .container .row.motivos .texto .titulo, 
    main.feirao section.conteudo .container .row.motivos .localizacao .texto-localizacao .titulo {
        font-size: 23px;
    }
    main.feirao section.conteudo .container .row.estrutura .texto {
        padding: 110px 0px 35px 10px;
    }
    main.feirao section.conteudo .container .row.area .texto {
        padding: 50px 0px 0 0;
    }
    main.feirao section.conteudo .container .row.motivos .localizacao .pin {
        width: 55px;
    }
    main.feirao section.conteudo .container .row.motivos .localizacao .mapa {
        width: 200px;
        margin: 0px 0 -50px 10px;
    }
    main.feirao section.conteudo .container .row.novidades .texto {
        padding: 100px 0 0 130px;
    }
}

/* MD */
@media (min-width: 992px) and (max-width: 1199px) {
	main.feirao section.banner .container .row .owl-carousel.owl-theme .owl-item .item .full {
	    height: 529px;
	}
	main.feirao section.conteudo .container .row .texto{
    	font-size: 14px;
    }
	main.feirao section.conteudo .container .row .texto .titulo {
    	font-size: 30px;
    }
    main.feirao section.conteudo .container .row.area .texto .titulo, 
    main.feirao section.conteudo .container .row.motivos .texto .titulo, 
    main.feirao section.conteudo .container .row.motivos .localizacao .texto-localizacao .titulo {
        font-size: 28px;
    }
    main.feirao section.conteudo .container .row.estrutura .texto {
        padding: 150px 0px 50px 25px;
    }
    main.feirao section.conteudo .container .row.area .texto {
        padding: 100px 0px 0 0;
    }
    main.feirao section.conteudo .container .row.motivos .localizacao .pin {
        width: 115px;
    }
    main.feirao section.conteudo .container .row.conheca {
        margin-top: 125px;
    }
    main.feirao section.conteudo .container .row.novidades .texto {
        padding: 100px 0 0 190px;
    }
}

@media (min-width: 1200px) {
}