main.hangar{
	section.banner{
		.container{
			.row{
				.owl-carousel.owl-theme{
					width: calc(100% + 100px);
					margin: 0 -50px;
					.owl-item{
						padding: 0 50px;
						.item{
							position: relative;
							padding: 6% 0 50px 0;
							.full{
								width: 100%;
								box-shadow: 20px 20px 50px #071521;
							}
							.destaque{
								width: 40%;
								position: absolute;
								bottom: 20px;
								right: 12.3%;
							}
						}					
					}
					.owl-dots{
						position: absolute;
						bottom: 70px;
						margin: 0;
						width: 70%;
						.owl-dot{
							outline: none !important;
							span{
								background: $padrao;
							}
							&.active span, &:hover span{
								background: $detalhe;
							}
						}
					}
				}
			}
		}
	}
	section.conteudo{
		padding: 50px 0;
		.container{
			position: relative;
			.fundo{
				content: '';
				position: absolute;
				top: 5%;
				left: 10%;
				right: 10%;
				bottom: 5%;
				background: $padrao;
				box-shadow: 30px 30px 50px #131c26;
			}
			.row{
				.texto{
					color: #1c2839;
					.btn{
						border-color: #1c2839;
					}
					.titulo{
						font-size: 40px;
						font-family: $sans-serif2;
						margin: 0 0 30px;
						line-height: 1;
						span{
							color: $detalhe;
						}
					}
					.descricao{
						font-weight: 600;
						margin-bottom: 30px;
						strong{
							font-weight: 700;
							color: $detalhe;
						}
					}
				}
				&.espaco{
					.texto{
						position: relative;
						padding: 250px 200px 0px 50px;
						.forma{
							position: absolute;
							width: 25px;
							height: 200px;
							top: 100px;
							left: 0;
							background: $detalhe;
						}
					}
				}
				&.gastronomia{
					text-align: right;
					.texto{
						padding: 150px 50px 0 0;
					}
				}
				&.masterplan{
					.texto{
						padding: 150px 0 0 50px;
					}
				}
			}
		}
	}
}

/* XS */ 
@media (max-width: 767px){ 
		main.hangar section.conteudo{
			padding-top: 0;
		}
		main.hangar section.conteudo .container .fundo{
			bottom: 0;
		}
		main.hangar section.conteudo .container .row .texto{
	    	font-size: 12px;
	    }
		main.hangar section.conteudo .container .row .texto .titulo {
	    	font-size: 30px;
	    }
		main.hangar section.conteudo .container .row.espaco .texto {
		    padding: 50px 6% 0px 12%;
		}
		main.hangar section.conteudo .container .row.gastronomia {
		    text-align: right;
		    display: flex;
		    flex-wrap: wrap;
		    flex-direction: column-reverse;
		    margin-top: 50px;
		}
		main.hangar section.conteudo .container .row.gastronomia .texto {
		    padding: 20px 12% 50px 0;
		}
		main.hangar section.conteudo .container .row.masterplan .texto {
		    padding: 50px 0 30px 0px;
		    text-align: center;
		}
}
@media (max-width: 539px){   
}
@media (max-width: 419px){    
}

/* SM */
@media (min-width: 768px) and (max-width: 991px) {
	main.hangar section.conteudo .container .row .texto{
    	font-size: 12px;
    }
	main.hangar section.conteudo .container .row .texto .titulo {
    	font-size: 30px;
    }
	main.hangar section.conteudo .container .row.espaco .texto {
	    padding: 135px 100px 0px 50px;
	}
	main.hangar section.conteudo .container .row.gastronomia .texto {
	    padding: 90px 50px 0 0;
	}
	main.hangar section.conteudo .container .row.masterplan .texto {
	    padding: 80px 0 0 35px;
	}
}

/* MD */
@media (min-width: 992px) and (max-width: 1199px) {
	main.hangar section.conteudo .container .row .texto{
    	font-size: 14px;
    }
	main.hangar section.conteudo .container .row .texto .titulo {
    	font-size: 30px;
    }
	main.hangar section.conteudo .container .row.espaco .texto {
	    padding: 160px 200px 0px 50px;
	}
	main.hangar section.conteudo .container .row.gastronomia .texto {
	    padding: 125px 50px 0 0;
	}
	main.hangar section.conteudo .container .row.masterplan .texto {
	    padding: 100px 0 0 50px;
	}
}

@media (min-width: 1200px) {
}